@tailwind base;
@tailwind components;
@tailwind utilities;

/* so logo does not take 100% width */
.menu img {
  display: inline-block;
}

/* underline on hovered links */
.menu a:hover {
  text-decoration: underline;
}

/* equaly distributed menu */
.menu {
  display: flex;
  justify-content: space-around;
}
